.container{
    width: 480px;
    height:480px;
    display: flex;
    flex-wrap: wrap;
}
body{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.square{
    
    background-color:lightgray;

}
.slider,.rainbow,.shader{
    display: flex;
    align-items: center;
}
.items{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.myopacity{
    opacity: 0.1;

}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-button input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.toggle-button input[type="checkbox"]:checked + .toggle-slider {
    background-color: #2196F3;
}

.toggle-button input[type="checkbox"]:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.shader-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.shader-button input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.shader-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.shader-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.shader-button input[type="checkbox"]:checked + .shader-slider {
    background-color: #2196F3;
}

.shader-button input[type="checkbox"]:checked + .shader-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

